/* CSS Tool Tips - unitip.css */
#unitip {
    color: #fff;
    display: none;
    font: normal 10px/12px Verdana, Arial, Helvetica, sans-serif;
	position: absolute;
    text-align: center;
	top: -1000px;
	z-index: 1000; }
	#unitippoint,
    #unitipmid,
    #unitipcap {
        display: block;
        left: 0px;
		position: relative;
		top: 0px;
		width: 145px; }
	#unitippoint {
        background: url(tools/unitip/TipPoint.png) no-repeat;
        height: 19px;
        overflow: hidden; }
	#unitipmid {
		background: url(tools/unitip/TipMid.png) repeat;
		height: auto;
		padding: 5px 15px;
        width: 115px; }
	#unitipcap {
        background: url(tools/unitip/TipCap.png) no-repeat;
        height: 7px;
        overflow: hidden; }
