/* Styles for admin panel */

/* Styles for elements
==============================================================================*/
body {
    background: #006699;
    font: normal 12px arial, helvetica, verdana, sans-serif;
    height: auto !important;
    line-height: 1;
    min-height: 100%;
    overflow-y: auto;
    vertical-align: baseline;
}
a,
a:visited {
    color: #0066ff;
    outline: none;
    text-decoration: none;
}
a:hover {
    color: red;
    outline: none;
    text-decoration: underline;
}
a:active { outline: none; }
a img    {
    border: 0;
    vertical-align: middle;
}

article    { margin-bottom: 20px; }
article p  { padding: 10px; }
blockquote {
    font-style: italic;
    margin: 1em 40px;
}

button {
    color: #000;
    vertical-align: middle; }
button img   { vertical-align: middle; }
button:hover { color: red; }

code { font: normal 11px monospace, 'courier new'; }
dl   { margin: 1em 0; }
dd   { margin: 0 0 0 40px; }
fieldset {
    background: #d1d7dc;
    margin: 0 0 10px;
    padding: 0.75em;
}

h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }

hr {
    height: 0;
    margin: 5px 0;
}
img { -ms-interpolation-mode: bicubic; }

input[type='button'] {
    margin: 0;
    padding: 2px 5px;
}
input[type='text'],
input[type='password'] {
    margin: 2px;
    padding: 1px 5px;
    border: 1px solid #c8c8c8;
}
input[type='text']:hover,
input[type='password']:hover { border-color: #aaa; }
input[type='text']:focus,
input[type='password']:focus {
    border-color: #8c8c8c;
    outline: 1px solid red;
    background: #ffffcc;
}
input[type='submit'],
input[type='reset'] {
    background-color: #ccc;
    background-image: linear-gradient(to bottom, #eee, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#999999', GradientType=0);
    border: 1px solid #777;
    border-radius: .4em;
    box-shadow: 0 0 1px 1px rgba(255, 255, 255, .804) inset, 0 1px 0 rgba(0, 0, 0, .149);
    filter: progid:DXImageTransform.Microsoft.dropshadow(offX=1, offY=1, color=#000000);
    filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=10);
    cursor: pointer;
    min-width: 100px;
    padding: 5px;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .804);
}
input[type='submit']:focus,
input[type='reset']:focus {
    background: #fafafa;
    outline: 0;
}
input[type='submit']:hover,
input[type='reset']:hover {
    background: #ddd;
    color: red;
}

label {
    cursor: pointer;
    margin: 0;
    padding: 0 3px;
}
legend {
    border: 0;
    padding: 10px;
    white-space: normal;
}

li {
    list-style: none;
    margin: 0;
    padding: 0;
}
pre {
    background: #fafafa;
    border: 1px dotted #aab4be;
    border-left: 20px solid #b4b4b4;
    color: #2e8b57;
    font-size: 1em;
    font-family: monospace, 'courier new';
    margin: 10px 0;
    padding: 5px 0;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
}

select {
    font-size: 12px;
    margin: 3px 0 0;
    padding: 0 5px;
    width: 160px;
}
select:focus { outline: 1px solid red; }

option { padding: 0 5px; }
small  { font-size: 80%; }
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sub { bottom: -0.25em }
sup { top: -0.5em; }

table { width: 100%; }

textarea {
    background: #ffffcc;
    border: 1px solid #a4a4a4;
    color: #000;
    height: auto;
    margin: 0 0 10px;
    overflow: auto;
    padding: 5px;
    vertical-align: top;
    width: 90%;
}
textarea:focus { border: 1px solid red; }

ul {
    margin: 1em 0;
    padding: 0 0 0 10px;
}

/* Styles for page
==============================================================================*/
#page {
	background: #fff;
	margin: auto;
	padding: 0;
	height: auto !important;
    overflow: hidden;
}

/* Header
==============================================================================*/
header {
    background: #006699;
    padding: 0 0 10px 0;
    width: 100%;
}

.logo {
    display: inline-block;
    padding: 0 0 0 50px;
}
.logo .version {
    color: #ccc;
    font-size: 48px;
    font-weight: bold;
    padding: 50px 0 0;
    text-shadow: 4px 4px 2px #000;
    filter: Shadow(Color=#000000, Direction=120, Strength=2);
    vertical-align: top;
}
.logo_desc {
    color: #fff;
    font-size: 16px;
    padding: 0 0 0 25px;
    position: relative;
    text-shadow: 4px 4px 2px #000;
    filter: Shadow(Color=#000000, Direction=120, Strength=2);
}

nav {
    float: left;
    margin: 10px;
    width: 240px;
}
nav ul {
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-weight: bold;
}
nav ul li { font-weight: normal; }

/* Menu
==============================================================================*/
#menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 240px;
    border-width: 0 1px 1px;
    z-index: 1;
}
#menu ul {
    padding: 0;
    margin: 0;
}
#menu li {
    background: #d1d7dc;
    position: relative;
    float: left;
    border-top: 1px solid #fff;
}
#menu li.sub               { background: #006699 url(../../../skins/images/arrow.gif) no-repeat top right; }
#menu li.sub.click         { font-weight: bold; }
#menu li.sub.click ul li a {
    color: #000;
    text-shadow: none;
    font-weight: normal;
}
#menu li.sub.click ul li.hover a {
    color: #fff;
    font-weight: bold;
}
#menu li,
#menu li a {
    display: block;
    color: #fff;
    line-height: 24px;
    width: 240px;
    text-decoration: none;
    text-indent: 5px;
    cursor: pointer;
}
#menu ul,
#menu li.click ul ul,
#menu li.click ul li.hover ul ul { display: none; }
#menu li.hover {
    color: #ff0;
    z-index: 2;
}
#menu li.click {
    color: #ff0;
    background: #0066dd;
    text-align: center;
}
#menu li.click ul {
    display: block;
    text-align: left;
}
#menu li.click ul li.hover ul,
#menu li.click ul li.hover ul li.hover ul {
    background: red;
    color: #ffc;
    display: block;
    position: absolute;
    left: 60px;
    top: -1px;
    border: 1px solid #fff;
    border-width: 0 1px 1px;
}
#menu li.click ul li.popup { background: #999 url(../../../skins/images/arrow.gif) no-repeat top right; }
#menu li.click ul li.hover {
    background: red;
    color: #fff;
}
#menu li.click ul li.hover ul li             { background: #356fcc; }
#menu li.click ul li.hover ul li.hover ul li {
    background: #780;
    z-index: 2;
}
#menu li.click ul li.hover ul li.popup { background: #c60 url(../../../skins/images/arrow.gif) no-repeat top right; }
#menu li.click ul li.hover ul li.hover {
    background: #ffc;
    z-index: 2;
}
#menu li.click ul li.hover ul li.hover a { color: #000; }

/* Footer
==============================================================================*/
footer {
    background: #069;
    clear: both;
    color: #ffc;
	font-weight: bold;
	padding: 10px 0;
    text-align: center;
}

/* Common styles
==============================================================================*/
.admin_mess {
    background: #ffc;
    color: red;
    text-align: center;
}
.banner {
    border: 1px solid #000;
    width: 208px;
}
.block { display: block; }
#bgcolorbtn,
#hicolorbtn {
    background: #ccc;
    border: 1px solid #000;
    padding:0 5px;
}
.button_edit {
    padding: 0 4px 0 0;
    text-align: right;
    width: 50%;
}
.button_edit input {
    padding: 0 2px;
    text-align: right;
}
.button_delete {
    padding: 0 4px 0 0;
    text-align: left;
    width: 50%;
}
.button_delete input {
    padding: 0 2px;
    text-align: left;
}
.category { padding: 0 13px; }
.center   { text-align: center; }
#colorbtn,
#colorselector {
    display: none;
    background: #fff;
    border: 2px solid #000;
    position: absolute;
    width: 300px;
    z-index: 10;
}

.clear {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}

.colortable {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, .5);
    filter: progid:DXImageTransform.Microsoft.dropshadow(offX=10, offY=10, color=#000000);
    filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=10);
}
.colortable td { padding: 0; }
.dark {
    background: #d2d2d2;
    height: 25px;
}
.header {
    background: #d1d7dc;
    text-align: center;
    font-size: 10pt;
    font-weight: bold;
}
.help {
    color: red;
    font-size: 10px;
    font-style: italic;
    padding: 0 30px 0 10px;
    text-align: left;
}
.label  {
    padding: 0 10px;
    width: 150px;
}
.left  { text-align: left; }
.light {
    background: #efefef;
    height: 25px;
}
.module {
    background: #069;
    color: yellow;
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}
.none     { display: none; }
#posts    { margin: 10px 10px 10px 260px;}
.required {
    background: #fff888;
    color: red;
}
.right { text-align: right; }
.row1  { background: #efefef; }
.row2  { background: #d2d2d2; }
.row3  {
    background: #d1d7dc;
    padding: 1px 5px;
}
#shdesc {
    display: none;
    width: 100%;
}
.std {
    background: #ddd;
    border: 2px groove #fff;
    border-collapse: separate;
    border-spacing: 2px;
    width: 100%;
}
.std tr  { height: 25px; }
table th { font-weight: bold; }
table.bg { background: #acbbc6; }
table.message {
    border: 1px solid #000;
    margin: 10px auto;
    width: 500px;
}
th+td { border-left: 1px solid #808385; }
th    {
    background: #006699;
    color: #fff;
    font-weight: bold;
    height: 25px;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}
th a:link,
th a:visited { color: #fff; }
th a:active  { color: #0000ff; }
th a:hover   {
    color: red;
    text-decoration: underline }
td { padding: 0 10px;
}
td.actions button {
    border: 0;
    padding: 0;
    margin: 0 3px;
}
td.actions a img {
    margin: 0 5px;
    vertical-align: bottom;
}
td.stat {
    color: #000;
    font-weight: normal;
    text-shadow: none;
}
th.id,
td.id {
    width: 20px;
    padding: 0 5px;
}
th.pic,
td.pic {
    width: 45px;
    padding: 0 5px;
}
th.items,
td.items {
    width: 85px;
    padding: 0 5px;
}
th.title,
td.title  { width: 20%; }
th.access,
td.access {
    width: 49px;
    padding: 0 5px;
}
th.actions,
td.actions { width: 90px; }
th.author,
td.author  { width: 80px; }
th.date,
td.date {
    width: 140px;
    padding: 0 5px;
}
td.label { width: 250px; }

/* Styles for bbCodes
==============================================================================*/
.bbcodes  {
    margin: 10px;
    text-align: center;
}
.bbselect { margin: 1px 0 4px; }
.bbbutton {
    margin: 0;
    padding: 2px;
}
.bbtools  {
    border: 1px solid #777;
    border-radius: .4em;
    box-shadow: 0 0 10px rgba(0, 0, 0, .8);
    filter: progid:DXImageTransform.Microsoft.dropshadow(offX=0, offY=0, color=#000000);
    filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=10);
    color: #000;
    margin: 10px 0 0;
    padding: 10px 0 0;
}
.bbcodes .link_text {
    margin: 4px 20px;
    text-align: center;
}
.bbcodes .link_text input[type='text'] { margin: 2px 20px; }

/* Popup windows of errors and other messages
==============================================================================*/
.error,
.message {
    background: #fff;
    background-image: linear-gradient(to bottom, #fff 1%, #999 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#999999', GradientType=0);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .8);
    filter: progid:DXImageTransform.Microsoft.dropshadow(offX=5, offY=5, color=#000000);
    filter: progid:DXImageTransform.Microsoft.shadow(direction=120, color=#000000, strength=10);
    font-weight: bold;
    min-width: 300px;
    padding: 10px;
    position: relative;
    width: 300px;
}
.error p,
.message p {
    padding: 10px;
    text-align: center;
}
.error p.title,
.message p.title {
    font-size: 14px;
    font-weight: bold;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, .8);
    text-transform: uppercase;
}
.error p.title {
    background: red;
    color: #ffc;
}
.message p.title {
    background: #6e7b8b;
    color: #fff;
}

/* Pagination
==============================================================================*/
#pagination {
	float: right;
	height: 20px;
	line-height: 20px;
	padding: 10px;
}
#pagination a {
    margin-right: 2px;
    padding: 0 6px;
}
#pagination a:link,
#pagination a:visited {
    display: block;
    float: left;
    text-decoration: none;
}
#pagination li {
    list-style: none;
    margin: 0;
}
#pagination .pages {
    display: block;
    float: left;
    padding: 0 6px;
}
#pagination .next a,
#pagination .previous a { font-weight: bold; }
#pagination .active     {
    font-weight: bold;
    padding: 0 6px;
    float: left;
    color: red;
    background: #fff;
}

/* Icons for buttons and links
==============================================================================*/
.icon {
    background: transparent;
    white-space: nowrap;
}
.icon:before {
    content: '';
    background-color: transparent;
    background-image: url(../../../skins/images/icons.png);
    background-repeat: no-repeat;
    background-position: 16px 16px;
    margin: 0 3px;
    left: 0;
    top: 3px;
    position: relative;
    width: 16px;
    height: 16px;
    display: inline;
    display: inline-block;
}
.icon-index:before     { background-position: 0 0; }
.icon-posts:before     { background-position: 0 -80px; }
.icon-guestbook:before { background-position: 0 -96px; }
.icon-forum:before     { background-position: 0 -112px; }
.icon-gallery:before   { background-position: 0 -128px; }
.icon-close:before     { background-position: 0 -144px; }
.icon-catalogs:before  { background-position: 0 -160px; }
.icon-edit:before      { background-position: 0 -288px; }
.icon-delete:before    { background-position: 0 -384px; }
.icon-move:before      { background-position: 0 -400px; }
