html { font-size: 100%; height: 100% }
body {
    background: #ccc url(images/tree1.png) 0 0 repeat fixed;
    color: black;
    font: normal 13px arial, helvetica, verdana, sans-serif;
    height: auto !important;
    line-height: 1.25;
    margin: 0;
    min-height: 100%;
    overflow-y: scroll;
    padding: 0;
    vertical-align: baseline }
a,
a:visited { color: #0066ff; text-decoration: none }
a:hover,
a:active { color: red }
a img { border: 0; vertical-align: middle }
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019" }
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em }
blockquote p { display: inline }

button { line-height: normal; vertical-align: baseline; width: 100px }
button[type="button"]:hover,
button[type="reset"]:hover,
button[type="submit"]:hover { color: red }
h1 { font-size: 18px }
h2 { font-size: 16px }
h3 { font-size: 14px }
input[disabled] { background: #343536; border-color: #585858; cursor: default }
input[type="button"],
input[type="reset"],
input[type="submit"] { cursor: pointer; min-width: 100px; padding: 0 5px }
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover { color: red }
input[type="email"],
input[type="text"],
input[type="password"],
input[type="url"] {
    border: 1px solid black;
    border-radius: 5px;
    padding: 2px;
    min-width: 100px }
input[type="email"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="url"]:focus { background: #ffffcc; border-color: #ff0000; outline: none }
input[type="checkbox"],
input[type="radio"] {
    float: left;
    height: auto;
    line-height: normal;
    margin: 1px 5px 0 1px;
    vertical-align: middle;
    width: auto }
pre {
    background: #fafafa;
    border: 1px dotted #aab4be;
    border-left: 20px solid #b4b4b4;
    color: #2e8b57;
    margin: 10px 0;
    padding: 5px 0;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word }
select {
    font-size: 12px;
    margin: 3px 0 0;
    padding: 0 5px;
    width: 160px }
select:focus { outline: 1px solid red }
textarea {
    background: #ffffcc;
    border: 1px solid #a4a4a4;
    color: black;
    height: auto;
    padding: 5px;
    width: 90% }
textarea:focus { border: 1px solid red }

#wrapper { height: auto !important; overflow: hidden }
.toolbar { background: black url(images/shadow.jpg) 0 0 repeat-y; margin: 0 20px; text-align: right }
.toolbar a { color: white; text-shadow: 0 1px 1px black }
.toolbar a:hover { color: red }
.toolbar ul { margin: 0; padding: 0 }
.toolbar li {
    border-left: 1px solid white;
    display: inline;
    margin-left: 8px;
    padding-left: 12px }
.toolbar li:first-child { border: 0 }
.header {
                        background: #bbb url(images/page.jpg) 0 0 repeat fixed;
    border: 1px solid #808385;
    border-radius: 8px;
    margin: 0 5px }
.logo { padding: 0 0 0 50px }
.logo-image { display: inline-block }
.logo-version {
    color: #ccc;
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
    margin: 0 120px 0 360px;
/*    padding: 50px 0 0; */
    text-shadow: 4px 4px 2px black;
    width: 80px }
.logo-description {
    color: white;
    display: inline-block;
    font-size: 16px;
    margin: 20px 850px 0 0;
    padding: 0 25px;
    position: relative;
    text-shadow: 4px 4px 2px black }
.slogan {
    color: yellow;
/*    float: right; */
    font-size: 16px;
    margin: 25px 20px 20px 700px;
    text-shadow: 4px 4px 2px black }
.search { display: inline-block; margin: 25px 20px 20px 700px; }
.search input[type="text"] {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px }
.search input[type="text"]:hover { border: 1px solid #ff0000 }
.menu { float: right; margin: 0 10px 10px 0 }
.menu a { margin: 0 5px }
#menu { background: #6e7b8b url(images/boxes-bg.png) 0 0 repeat-x; box-shadow: 4px 4px 10px black }
.main_menu { height: 40px; margin: 0 27%; padding: 0; width: 100% }
.main_menu ul {
    background: #30353c;
    border-radius: 0 0 5px 5px;
    opacity: 10;
    position: absolute;
    transition: opacity .5s ease .1s }
.main_menu,
.main_menu ul,
.main_menu li,
.main_menu a { padding: 0; z-index: 2 }
.main_menu ul li { height: 0; overflow: hidden; transition: opacity .5s ease .1s }
.main_menu ul li:last-child a { border: 0; line-height: 22px; margin: 0 0 10px 0 }
.main_menu ul li a { border: 0; padding: 0; min-width: 100px }
.main_menu li { float: left; position: relative }
.main_menu li a {
    border-left: 1px solid white;
    border-right: 1px solid white;
    color: white;
    display: block;
    line-height: 35px;
    margin: 4px 0;
    padding: 0 11px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .6);
    transition: color .2s ease-in-out }
.main_menu li:first-child a { border-left: none }
.main_menu li:last-child a { border-right: none }
.main_menu li:hover>a { color: red }
.main_menu li:hover>ul { opacity: 1 }
.main_menu li:hover>ul li { height: 35px; padding: 5px 0; overflow: visible; text-align: center }
#layout-root { position: relative; height: auto !important }
#layout-center { height: auto !important; margin: 0 230px; overflow: hidden }
#layout-left,
#layout-right  {
    margin: 0 0 -9000px;
    overflow: hidden;
    padding: 0 5px 9000px;
    position: relative;
    width: 230px }
#layout-left  { float: left }
#layout-right { float: right }
#layout-left:after,
#layout-right:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden }
#layout-left li,
#layout-right li { margin-left: 5px }
.main { margin: 0 auto }
.main .title {
    color: black;
    margin: 20px 0 10px;
    text-align: center;
    text-shadow: none }
.main .content { padding: 10px }
.box {
    background: #6e7b8b;
    background-image: linear-gradient(to bottom, white 1%, #999 99%);
    border: 1px solid #808385;
    border-radius: 8px;
    margin: 10px 0 0;
    padding: 10px }
.box ul { list-style: none }
.box .title { background: #6e7b8b; padding: 10px 0 }
.darkbox { margin: 3px 5px 0; padding: 10px }
.darkbox ul { list-style: none }
.darkbox .title { color: white}
.lightbox { margin: 5px 0; padding: 10px }
.lightbox ul { list-style: none }
.lightbox .title { color: black }
.panel .title { background: #6e7b8b url(images/boxes-bg.png) 0 0 repeat-x; box-shadow: 4px 4px 10px black; padding: 10px 0 }
.fbg {
    height: auto !important;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
    padding: 10px 0;
    position: relative }
.fbg h2 { color: white; text-transform: uppercase }
.fbg img.gal { border:none; margin: 0 8px 8px 0; padding: 0 }
.fbg .col { float:left; margin: 0 }
.fbg .c1,
.fbg .c2,
.fbg .c3 {
    display: inline-block;
    float: left;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 333px }
.boxes {
    background: rgba(0, 0, 0, 0) url(images/header.png) 0 0 no-repeat;
    height: auto !important;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
    position: relative }
.boxes .middlebox { width: 334px }
.boxes .leftbox,
.boxes .middlebox,
.boxes .rightbox {
    display: inline-block;
    float: left;
    overflow: hidden;
    position: relative;
    width: 333px }
.user_panel { margin: 10px; padding: 0 10px }
.win { margin: 20px 5px }
.win .info { font-size: 11px }
.admin { margin: 5px 10px 5px 88px }
#bad,
#good { font-size: 11px; padding: 5px 10px; text-align: right }
#bad  { color: #ff0000 }
#good { color: #33cc00 }
.bbbutton { height: 26px; margin: 0 -1px 1px; width: 26px }
.bbbutton:hover { border: 1px solid red}
.bbcodes { margin: 10px 20px }
.bbcodes .smiles { margin: 0 0 5px }
.bbcodes .link_text { margin: 4px 20px; text-align: right }
.bbcodes .link_text input[type='text'] { margin: 2px 20px }
.bbselect {	margin: 10px 0 }
.bbtools  { background: #bfcfdf; margin: 10px 0 0; padding: 10px 0 0 }
.block { display: block }
table.counter td { line-height: 12px; margin: 0 23px }
table.calendar {vertical-align: middle }
.calendar th {
    background: #6e7b8b;
    color: white;
    padding: 2px;
    text-shadow: 0 1px 2px black }
.calendar td { padding: 2px; text-align: center }
.calendar form input { margin: 5px 0 0 }
.category { font-size: 12px; margin: 0 0 0 50px; padding: 4px 0 0 0 }
.center { text-align: center }
.chat { margin: 10px 0 }
.chat button { height: 20px; min-width: 20px; width: 20px }
.clear { clear: both; height: 0; overflow: hidden }
.codehtml,
.codephp,
.codetext {
    background: #ffffcc;
    color: black;
    border: 1px solid #6da4da;
    font: normal 12px mono, "Courier New", Courier;
    margin: 5px 0;
    padding: 5px;
    overflow: auto;
    white-space: nowrap }
.comment { background: white; overflow: hidden }
.comment img { float: left }
.comment .author { float: left; margin: 10px 0; width: 120px }
.comment .author .avatar img { margin: 0 25px 10px }
.comment .content { overflow: hidden }
.comment .date { font-size: 10px }
.comment .head {
    background: #6e7b8b;
    color: white;
    line-height: 17px;
    padding: 0 4px }
.comment .info { line-height: 18px }
.comment .info .profile a { margin: 0 3px }
.comment .profile { float: right }
.comment .text { margin: 10px 10px 10px 130px }
.comment .text img { margin: 0 10px }
.comment_edit,
.comment_post {
    background: white;
    background-image: linear-gradient(to bottom, white 1%, #999 99%);
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    overflow: hidden }
#editor {
    background: white;
	background-image: linear-gradient(to bottom, white 1%, #999 99%);
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 15px black;
    margin: 20px 0 0;
    overflow: hidden;
    padding: 15px }
#editor h2 { margin: 10px 0 }
#editor .label { color: black; padding: 0 15px; text-align: right; width: 160px }
#editor input[type="checkbox"] { float: none }
#editor legend {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
    text-align: center;
    text-shadow: 1px 1px 1px white }
#editor .label {
    color: black;
    padding: 0 15px;
    text-align: right;
    width: 160px }
.dark { background: #bfcfdf }
.light  { background: #dee3e7 }
#flashcontent { margin: 0 10px }
.image_name { margin: 5px; }
.gallery { margin: 0 auto }
.gallery img { margin: 5px 0 0 5px }
.gallery .item {
    float: left;
    margin: 10px 3px;
    padding: 10px;
    overflow: hidden;
    width: 210px }
.gallery .info { padding: 0 0 0 15px }
.gallery .title { text-transform: none }
.help {
    color: red;
    font-style: italic;
    font-size: 11px;
    margin: 0 10px 0 0;
    padding: 5px 0;
    text-align: right }
.info { padding: 10px 0 }
.info a { margin: 0 0 0 10px }
.justify { text-align: justify }
.last-items li { margin: 5px 0 }
.left { text-align: left }
.login-panel { margin: 10px 0 }
.login,
.password_recovery {
    background: white;
	background-image: linear-gradient(to bottom, white 1%, #999 99%);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    display: none;
    padding: 15px;
    position: relative;
    text-align: center }
.login h1,
.password_recovery h1 {
    background: #6e7b8b;
    color: #bdb5aa;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 0;
    text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.8) }
.login h1 .log-in,
.password_recovery h1 .password-recovery { color: white; display: inline-block; text-transform: uppercase }
.login .float,
.password_recovery .float { float: left; padding: 5px }
.login .float:first-of-type,
.login .float:last-of-type,
.password_recovery .float:first-of-type,
.password_recovery .float:last-of-type { padding-left: 5px }
.login .close,
.password_recovery .close {
    background: transparent url('../images/icons/delete.png') no-repeat;
    height: 16px;
    position: absolute;
    right: 20px;
    top: 23px;
    width: 16px }
.login input[type="text"],
.login input[type="password"],
.password_recovery input[type="text"] {
    background: #fdffbf;
    border: 1px solid #747270;
    border-radius: 5px;
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    transition: all 0.5s ease-out;}
.login input[type="text"]:focus,
.login input[type="password"]:focus,
.password_recovery input[type=text]:focus { 	border-color: #ff0000; outline: none }
.login label,
.password_recovery label {
    cursor: pointer;
    display: block;
    font-size: 11px;
    font-weight: bold;
    padding: 0 0 5px 2px;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
    text-transform: uppercase }
.login label:hover ~ input,
.password_recovery label:hover ~ input { border-color: #ff0000 }
.login label[for="showpassword"] {
    display: inline-block;
    font-size: 11px;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: capitalize }
.more { float: right; margin: 0 2px }
.negative { color: red; font-weight: bold }
.positive { color: green; font-weight: bold }
#no { color: #ff0000; margin: 0 15px 0 0 }
#yes { color: #33cc00; margin: 0 15px 0 0 }
.none { display: none }
.note {
    background: #ffffcc;
    border: 2px solid red;
    color: black;
    margin: 20px;
    padding: 5px }
.pl20 { padding-left: 200px }
#pagination {
    float: right;
    height: 20px;
    line-height: 20px;
    padding: 10px }
#pagination a { margin-right: 2px; padding: 0 6px }
#pagination a:link,
#pagination a:visited { display: block; float: left; text-decoration: none }
#pagination li { list-style: none; margin: 0 }
#pagination .pages { display: block; float: left; padding: 0 6px }
#pagination .next a,
#pagination .previous a { font-weight: bold }
#pagination .active {
    background: white;
    color: red;
    float: left;
    font-weight: bold;
    padding: 0 6px }
#pass_rating { margin: 0 28px 0 0 }
.pass_title { font-size: 11px; margin: 0; padding: 0 5px 0 90px }
.pass_img#progresbar-2-0, .pass_img#passbar-0, .pass_img#progresbar-2-10,
.pass_img#passbar-10, .pass_img#progresbar-2-20, .pass_img#passbar-20,
.pass_img#progresbar-2-30, .pass_img#passbar-30, .pass_img#progresbar-2-40,
.pass_img#passbar-40, .pass_img#progresbar-2-50, .pass_img#passbar-50,
.pass_img#progresbar-2-60, .pass_img#passbar-60, .pass_img#progresbar-2-70,
.pass_img#passbar-70, .pass_img#progresbar-2-80, .pass_img#passbar-80,
.pass_img#progresbar-2-90, .pass_img#passbar-90, .pass_img#progresbar-2-100,
.pass_img#passbar-100                           { float: right; height: 7px; margin: 14px 60px 0 0 !important; width: 138px }
.pass_img#progresbar-2-0,.pass_img#passbar-0    { background: transparent url(../images/password/pass_0.gif) no-repeat }
.pass_img#progresbar-2-10, .pass_img#passbar-10 { background: transparent url(../images/password/pass_10.gif) no-repeat }
.pass_img#progresbar-2-20, .pass_img#passbar-20 { background: transparent url(../images/password/pass_20.gif) no-repeat }
.pass_img#progresbar-2-30, .pass_img#passbar-30 { background: transparent url(../images/password/pass_30.gif) no-repeat }
.pass_img#progresbar-2-40, .pass_img#passbar-40 { background: transparent url(../images/password/pass_40.gif) no-repeat }
.pass_img#progresbar-2-50, .pass_img#passbar-50 { background: transparent url(../images/password/pass_50.gif) no-repeat }
.pass_img#progresbar-2-60, .pass_img#passbar-60 { background: transparent url(../images/password/pass_60.gif) no-repeat }
.pass_img#progresbar-2-70, .pass_img#passbar-70 { background: transparent url(../images/password/pass_70.gif) no-repeat }
.pass_img#progresbar-2-80, .pass_img#passbar-80 { background: transparent url(../images/password/pass_80.gif) no-repeat }
.pass_img#progresbar-2-90, .pass_img#passbar-90 { background: transparent url(../images/password/pass_90.gif) no-repeat }
.pass_img#progresbar-2-100, .pass_img#passbar-100 { background: transparent url(../images/password/pass_100.gif) no-repeat }
.poll { margin: 0 0 10px }
.post {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    margin: 10px;
    padding: 10px;
    overflow: hidden }
.post img { float: left }
.post .title { margin: 10px 5px }
.post .date { margin: 2px 0 0 40px; width: 300px }
.post .author { margin: 0 0 0 10px; line-height: 14px; width: 200px }
.post .admin { margin: 0 20px 0; float: right; line-height: 18px }
.post .admin a { margin: 0 2px }
.post .info { clear: both; font-size: 10px; padding: 4px 10px }
.post .text img { margin: 0 10px }
.profile { padding: 20px }
.profile .avatar { padding: 10px 0 }
.quotetitle {
    background: #aabbcc;
    border: 1px solid #a9b8c2;
    color: black; font-size: 12px;
    font-style: italic;
    margin: 5px 0 0;
    padding: 2px }
.quotetext {
    background: #fafafa;
    border: 1px solid #a9b8c2;
    color: #555;
    font: italic 12px monospace, "Courier New", Courier;
    margin: 5px;
    padding: 5px;
    overflow: auto }
.rate {
    background: #bfcfdf;
    float: right;
    height: 18px;
    line-height: 18px;
    margin: 0 10px }
.rate button { border: 0; min-width: 14px; width: 14px }
.rate button.minus,
.rate button.plus { border: 0; line-height: 16px; margin: 0 5px }
.rate button.minus { background: #bfcfdf url(../images/icons/minus.png) }
.rate button.plus { background: #bfcfdf url(../images/icons/plus.png) }
.required { background: #fff888; color: red }
.results { margin: 10px }
.results ul { list-style: none; margin: 0; padding: 0 }
.results li { margin: 0; padding: 0; position: relative }
.results a { text-decoration: none; margin: 0 }
.results a,
.results span { display: block; text-align: left }
.results li.level1 .box { margin: 0 10px; text-shadow: 0 1px 1px white; overflow: hidden }
.results a.level1,
.results span.level1 { padding-top: 10px; overflow: hidden; text-align: left }
.results li a.level1:hover { background: #e8e8ea; color: red; text-shadow: 0 1px 1px white }
.results a.level1 span.title,
.results span.level1 span.title {
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    padding: 0 10px;
    text-align: left }
.results a.level1 span.subtitle,
.results span.level1 span.subtitle {
    font-weight: normal;
    line-height: 16px;
    padding: 0 10px;
    text-transform: none }
.results a.level1 span.icon,
.results span.level1 span.icon { padding-left: 50px }
.results .sub { padding: 0; line-height: 35px }
.results ul.level1 .sub,
.results ul.level1 .sub:hover { padding: 0 10px 0 50px }
.results ul.level1 .sub:hover { background: #e8e8ea; text-shadow: 0 1px 1px white }
.right { text-align: right }
#registration select { margin: 13px 0 0 }
#registration_form { overflow: hidden }
#sliding_content,
#registration_content { margin: 15px auto; text-align: center; width: 635px }
#sliding_form {
    background: #6e7b8b;
    background-image: linear-gradient(to bottom, white 1%, #999 99%);
    border: 1px solid #888;
    border-radius: 10px;
    box-shadow: 5px 5px 5px black;
    padding: 15px 0;
    overflow: hidden }
.step {	float: left }
#steps { overflow: hidden }
#steps form { padding: 0 }
#steps form fieldset { padding: 0 }
#steps form legend {
    background: #6e7b8b;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
    text-shadow: 1px 1px 1px black;
    width: 635px }
#steps form p {
    background: #ddd;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    clear: both;
    float: left;
    margin: 0 0 10px 100px;
    width: 420px }
#steps form p label {
    color: black;
    float: left;
    font-weight: bold;
    line-height: 30px;
    margin: 8px 0;
    text-align: right;
    text-shadow: 1px 1px 1px white;
    width: 140px }
#steps form p.msg {
    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none }
#steps form textarea,
#steps form select {
    border: 1px solid #ddd;
    border-radius: 3px;
    outline: 0;
    padding: 5px;
    width: 200px }
#steps form input:focus { background: white; border: 1px solid red }
.navigation ul { float: left; margin: 10px 0 0 15px }
.navigation ul li { float: left; margin: 10px 2px; position: relative }
.navigation ul li a,
.navigation input[type="button"],
.navigation input[type="reset"],
.navigation input[type="submit"],
#steps form p.navigation ul li a,
#steps form p.navigation input[type="submit"] {
    background: #6e7b8b;
    background-image: linear-gradient(to bottom, #788596 1%, #565F6C 50%, #333840 99%);
    border: 1px solid white;
    border-radius: 6px;
    box-shadow: 1px 2px 2px black;
    color: white;
    display: inline-block;
    line-height: 20px;
    min-width: 100px;
    outline: none;
    padding: 0 5px;
    text-decoration: none;
    text-shadow: 1px 1px 1px black }
#steps form .navigation {
    background: none;
    border: 0;
    border-radius: 0;
    box-shadow: none }
#steps form .navigation input[type="submit"]:hover,
.navigation ul li a:hover,
.navigation ul li.selected a,
.navigation input[type="button"]:hover,
.navigation input[type="reset"]:hover,
.navigation input[type="submit"]:hover { background: #6e7b8b }
.section { font-size: 12px; margin: 0 0 0 50px; padding: 5px 0 2px 0 }
#section { margin: 20px }
#section a {
    display: block;
    margin: 0;
    text-align: left;
    text-decoration: none }
#section a.level1 { text-align: left }
#section a.level1 span.title {
    font-weight: bold;
    line-height: 20px;
    padding: 0 5px;
    text-align: left }
#section a.level2 span.title {
    font-weight: bold;
    line-height: 20px;
    margin: 0;
    padding: 0 5px;
    text-align: left }
#section a.level1 span.subtitle,
#section a.level2 span.subtitle { font-weight: normal; line-height: 16px; padding: 0 5px }
#section span { display: block; text-align: left }
#section span.bg { font-size: 1.4em; font-weight: bold; text-align: center }
#section span.level1 { text-align: left }
#section li a.level1:hover { background: #e8e8ea; color: red }
#section span.level1 span.title {
    font-weight: bold;
    line-height: 20px;
    padding: 0 5px;
    text-align: left }
#section span.level1 span.subtitle { font-weight: normal; line-height: 16px; padding: 0 5px }
#section ul { padding: 0 }
#section ul.level2 { padding: 0 0 10px 40px; text-align: left }
#section ul.level2 a { line-height: 18px }
#section ul.level2 img { float: left; margin: 0 20px 0 0 }
#section ul.level3 { padding: 0 0 10px 40px; text-align: left }
#section ul.level3 a { line-height: 18px }
#section ul.level3 a.level3 span.title,
#section ul.level3 a.level3 span.subtitle {}
#section ul.level3 a.level3:hover span.title,
#section ul.level3 a.level3:hover span.subtitle { background: #e8e8ea; color: red }
#section ul.level3 img { float: left; margin: 0 20px 0 0 }
#section li { margin: 0; padding: 0; position: relative }
#section li a.level2:hover,
#section li a.level3:hover { background: #e8e8ea }
#section li a.level1:hover span.title,
#section li a.level2:hover span.title,
#section li a.level3:hover span.title    { color: blue }
#section li a.level2:hover span.subtitle { color: red }
#section li.level1 .title { margin: 15px 0 0 }
#section li.level2 a.level2 { padding: 0 5px }
#section li.level2 a.level2:hover { background: #e8e8ea; color: blue }
#section li.level2 .title,
#section li.level2 .subtitle { line-height: 18px }
#section li.level3 a.level3 { padding: 0 50px }
#section li.level3 a.level3:hover { background: #e8e8ea; color: blue }
#section li.level3 a.level3 span.title,
#section li.level3 a.level3 span.subtitle { margin: 20px 0 0 }
#section li.level3 a.level3:hover span.title,
#section li.level3 a.level3:hover span.subtitle { background: #e8e8ea; color: red }
#section li.level3 .title,
#section li.level3 .subtitle { line-height: 18px }
#shdesc { display: none; width: 99% }
.special { color: red }
.star { height: 20px; margin: 0 10px 0 0 }
.star, .star ul.star,
.star div.rates,
.star div.user,
.star div.voted,
.star div.sep { float: right }
.star ul.star {
    background: url(../images/icons/stars.gif) repeat-x;
    cursor: pointer;
    height: 22px;
    list-style: none;
    margin: 0 50px 0 0;
    padding: 0;
    width: 85px }
.star li {
    display: block;
    float: right;
    height: 20px;
    margin: 0;
    padding: 0;
    position: absolute;
    text-indent: -9000px;
    width: 85px;
    z-index: 1 }
.star li.curr { background: url(../images/icons/stars.gif) left 25px }
.star div.rates { margin: -16px 0 0 5px }
.star div.sep { margin: 0 3px }
.main_rate { margin: -20px 0 10px; padding: 0 0 20px }
/* #tabs-1, #tabs-2, #tabs-3, #tabs-4, #tabs-5 { margin-top: 20px } */
/*ul.tabs { margin: 0; padding: 0; width: 100% }*/
ul.tabs li a {
    background: #ccc;
    border: 1px solid #999;
    float: left;
/*    height: 31px; */
    line-height: 31px;
/*    padding: 0 */}
/* ul.tabs li a:hover { background: #ccc } */
ul.tabs li a.selected { background: white; border: 1px solid #ff0000 }
/*html ul.tabs li.active,
html ul.tabs li.active a:hover { background: white; border-bottom: 1px solid white} */
.tab_container {
    background: white;
    border: 1px solid #999;
    border-top: none;
    box-shadow: 0 0 10px black;
    padding: 20px 20px 10px }
.tab_content { margin: 20px 0 0; }
.tab_content img { float: left; margin: 0 10px }
.tab_content .author { width: 30% }
.tab_content .date { float: right; font-style: italic; margin: 0 50px 0 0 }
.tab_content .more { float: right; margin: 0 2px }
.roll-link {
    display: inline-block;
    overflow: hidden;
    text-decoration:none;
    vertical-align: top;
    perspective: 600px;
    perspective-origin: 50% 50% }
.roll-link:hover { text-decoration:none }
.roll-link span {
    display: block;
    padding: 0 5px;
    transition: all 400ms ease;
    transform-origin: 50% 0;
    transform-style: preserve-3d }
.roll-link:hover span { background: #dd4d42; transform: translate3d(0,0, -30px ) rotateX( 90deg ) }
.roll-link span:after {
    background: #dd4d42;
    color: #ffff00;
    content: attr(data-title);
    display: block;
    padding: 0 5px;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: 50% 0;
    transform: translate3d(0, 105%,0 ) rotateX( -90deg ) }
table#std { border-collapse: separate; border-spacing: 0 }
table#std tr { height: 35px }
table#std td { border: 2px groove white; padding: 0 10px }
table#std th {
    background: #6e7b8b url(images/boxes-bg.png) 0 0 repeat-x;
    border: 2px groove white;
    color: white;
    text-align: center;
    text-shadow: 0 1px 2px black }
table#std td.section { background: #6e7b8b; }
table#std td.section a { color: white; font-size: 13px }
table.std  { border: 2px groove white; padding: 10px; width: 100% }
th.icon, td.icon  { width: 47px }
th.title, td.title { width: 250px }
th.access, td.access,
th.actions, td.actions { width: 70px }
th.author, td.author,
th.views, td.views { width: 80px }
th.comments, td.comments { width: 120px }
th.date, td.date { padding: 0 10px; width: 140px }
.tagline { color: #c3c3c3; font-size: 16px; padding: 15px 0 15px 130px }
.title {
    color: white;
    font-weight: bold;
    margin: 20px 5px 10px;
    text-shadow: 1px 1px 2px black;
    text-transform: uppercase }
.topic {
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 15px black;
    margin: 10px;
    padding: 10px;
    overflow: hidden }
.topic .content { overflow: hidden }
.topic .author { float: left; margin: 10px 0; width: 120px }
.topic .date { font-size: 10px }
.topic .info { line-height: 18px; padding: 0 10px 0 0 }
.topic .profile { float: right }
.topic .text { margin: 10px 10px 10px 130px }
.topic .info span.profile { padding: 5px }
.topic .info span.profile a { margin: 0 5px }
.simple-menu { background: #6e7b8b; padding: 10px }
.simple-menu a { color: white}
.simple-menu a:hover { color: red }
.simple-menu ul { margin: 0; padding: 0 }
.simple-menu li {
    border-left: 1px solid black;
    margin-left: 8px;
    padding-left: 12px;
    display: inline }
.simple-menu li:last-child { border-right: 1px solid black; margin-right: 8px; padding-right: 12px }
.footer {
    background: black;
    color: white;
    overflow: hidden;
    padding: 10px 30px;
    position: relative;
    text-shadow: 0 1px 1px black }
.copyright { margin: 10px 0; text-align: center; width: 33% }
.valid {
    float: right;
    margin: 10px 0;
    position: relative;
    width: 20% }
#flipbox { color: black; padding: 5px; min-height: 50px }
#banner { padding: 10px 0 }
#banner ul { padding: 0 }
#banner li { padding: 10px 0; margin: 0 }
#banner a  { color: white}
.horinaja img { margin: 0; padding: 0 }
.horinaja ul  { font-size: 12px; position: relative }
.horinaja ul li { background: transparent; display: block; top: 0 }
