body {
    color: black;
	font: 12px/18px arial, helvetica, verdana, sans-serif;
    height: auto !important;
    line-height: 1.2;
    overflow-y: scroll; }
a,
    a:visited { color: #0066ff; text-decoration: none; }
    a:active,
    a:hover { color: red; }
    a img { vertical-align: middle; }
blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019"; }
    blockquote:before {
        color: #ccc;
        content: open-quote;
        font-size: 4em;
        line-height: 0.1em;
        margin-right: 0.25em;
        vertical-align: -0.4em; }
    blockquote p { display: inline; }
h1,h2,h3 { font-weight: bold; }
h1 { font-size: 18px; margin: 15px 0 0; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
button::-moz-focus-inner,
input::-moz-focus-inner { border: 0; padding: 0; }
    button[disabled],
    input[disabled] { background-color: #343536; border-color: #585858; cursor: not-allowed; }
    button[type="reset"],
    button[type="submit"],
    input[type="button"],
    input[type="reset"],
    input[type="submit"] { min-width: 110px; padding: 2px 0; }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    input[type="url"] {
        border: 1px solid #747270;
        _border-radius: 5px;
        margin: 2px 0;
        min-width: 100px;
        padding: 2px; }
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    input[type="url"]:focus { background: #ffffcc; border-color: red; outline: none; }
    input[type="checkbox"],
    input[type="radio"] {
        border: none;
        height: auto;
        line-height: normal;
        margin: 1px 5px 0 1px;
        vertical-align: middle;
        width: auto; }
    button[type="reset"]:hover,
    button[type="submit"]:hover,
    input[type="button"]:hover,
    input[type="reset"]:hover,
    input[type="submit"]:hover { color: red; }
option { padding: 0 5px; }
p { margin: 10px 0; }
pre {
    background: #fafafa;
    border: 1px dotted #aab4be;
    border-left: 20px solid #b4b4b4;
    color: #2e8b57;
    font-size: 1em;
    font-family: monospace, 'courier new';
    margin: 10px 0;
    padding: 5px 0;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word; }
select { padding: 2px 5px; width: 160px; }
    select:focus { outline: 1px solid red; }
textarea {
    background: #ffffcc;
    border: 1px solid #a4a4a4;
    color: #000;
    padding: 5px;
    width: 95%; }
    textarea:focus { border: 1px solid red; }

#wrapper { height: auto !important; overflow: hidden; }
.header {
    background: #297377 url(images/shadow.png) 0 0 repeat-x;
    display: inline-block;
    padding: 10px 0;
    width: 100%; }
.toolbar { margin: 0 20px; text-align: right; }
    .toolbar a { color: white; }
    .toolbar a:hover { color: red; }
    .toolbar li {
        border-left: 1px solid white;
        display: inline;
        margin-left: 8px;
        padding-left: 12px; }
    .toolbar li:first-child { border: 0; }
.logo-image {
    color: white;
    float: left;
    font-size: 16px;
    margin-left: 50px;
    text-align: center;
    width: 370px; }
.logo-version {
    color: #ccc;
    display: inline-block;
    font-size: 48px;
    font-weight: bold;
    height: 50px;
    text-shadow: 4px 4px 2px black;
    width: 80px; }
.search { float: right; margin: 20px; }
.slogan {
    color: yellow;
    font-size: 12pt;
    margin: 35px 20px 20px 100px;
    text-align: right; }
.main-menu { background: #1a4b4e; }
    .menu { display: inline-block; }
    .menu ul {
        background: #1f2024;
        _border-radius: 0 0 5px 5px;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 40px;
        _transition: opacity .25s ease .1s;
        z-index: 10; }
    .menu ul li {
        height: 0;
        overflow: hidden;
        padding: 0;
        _transition: height .25s ease .1s; }
    .menu ul li a {	border: none; border-bottom: 1px solid #353539; margin: 0; }
    .menu ul li:last-child a { border: none; }
    .menu li { float: left; position: relative; }
    .menu li a {
        border-left: 1px solid black;
        border-right: 1px solid black;
        color: white;
        display: block;
        font-weight: bold;
        font-size: 14px;
        line-height: 28px;
        margin: 6px 0;
        padding: 0 14px;
        text-shadow: 1px 1px 1px black;
        _transition: color .2s ease-in-out; }
    .menu li:first-child a { border-left: none; }
    .menu li:last-child a { border-right: none; }
    .menu li:hover > a { color: #8fde62; }
    .menu li:hover > ul { opacity: 1; }
    .menu li:hover > ul li { height: 36px; overflow: visible; padding: 0; }
#layout-root { position: relative; height: auto !important; }
    #layout-center { height: auto !important; margin: 0 235px; overflow: hidden; }
    #layout-left,
    #layout-right {
        background: #88c3b0;
        margin: 0 0 -9000px;
        overflow: hidden;
        padding: 0 0 9000px;
        position: relative;
        width: 230px; }
    #layout-left  { float: left; }
    #layout-right { float: right; }
    #layout-left li,
    #layout-right li { margin-left: 5px; }
    #layout-left:after,
    #layout-right:after { clear: both; content: "."; display: block; height: 0; overflow: hidden; visibility: hidden; }
.main .title { margin: 20px 0 10px; }
.main .content { padding: 10px; }
.box { padding: 10px; }
    .box .title {
        background: #297377;
        color: white;
        padding: 10px 0;
        text-shadow: 1px 1px 3px #000;
        text-transform: uppercase; }
    .box .content { padding: 10px 0; }
.panel {
    background: #88c3b0;
    background: _linear-gradient(180deg, rgba(255,255,255,1) 0%,rgba(136,195,176,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#88c3b0',GradientType=0 );
    border: 1px solid #808385;
    _border-radius: 8px;
    _box-shadow: 4px 4px 10px black;
    margin: 10px;
    padding: 10px; }
.user_panel { margin: 10px; padding: 0 10px; }
.win { margin: 20px 5px; }
    .win .title { margin: 10px 0; text-shadow: 1px 0 1px white; }
    .win .info { font-size: 10px; }
.boxes {
    height: auto !important;
    margin: 30px auto;
    max-width: 1000px;
    min-width: 1000px;
    position: relative; }
.boxes .leftbox,
    .boxes .middlebox,
    .boxes .rightbox { float: left; width: 333px; }
    .boxes .middlebox { width: 334px; }
.footer {
    background: black;
    color: white;
    overflow: hidden;
    padding: 10px 30px;
    position: relative; }
.copyright { margin: 10px 0; width: 25%; }
.valid { float: right; margin: 10px 0; width: 25%; }
.actions { background: transparent; margin: 0 30px 0 0; }
#bad,
#good { padding: 5px 10px; text-align: right; }
#bad  { color: red; }
#good { color: green; }
.negative { color: red; font-weight: bold; }
.positive { color: green; font-weight: bold; }
#no { color: red; }
#yes { color: green; }
.bbbutton { height: 26px; margin: 0 -2px; padding: 0; width: 26px; }
.bbcodes { margin: 10px 20px; }
    .bbcodes .smiles { margin: 0 0 5px; }
    .bbcodes .link_text { margin: 4px 20px; text-align: right; }
    .bbcodes .link_text input[type='text'] { margin: 2px 20px; }
.bbselect {	margin: 1px 0 4px; }
.bbtools  { background: #bfcfdf; margin: 10px 0 0; padding: 10px 0 0; }
.black { color: black; }
.green { color: green; }
.red { color: red; }
.block { display: block; }
.center { text-align: center; }
.justify { text-align: justify; }
.left { text-align: left; }
.right { text-align: right; }
.calendar { width: 100%; }
    .calendar th { background: #1a4b4e; color: white; padding: 2px; }
    .calendar td { padding: 2px; text-align: center; }
    .calendar form input { margin: 5px 0 0; }
.category { margin: 0 0 0 50px; padding: 4px 0 0 0; }
.chat { margin: 10px 0; }
    .chat button { width: 60px; }
.clear { clear: both; content: "."; display: block; height: 0; }
.codehtml,
.codephp,
.codetext {
    background: #ffffcc;
    color: black;
    border: 1px solid #6da4da;
    font: normal 12px mono, "Courier New", Courier;
    margin: 5px 0;
    padding: 5px;
    overflow: auto;
    white-space: nowrap; }
.counter td { height: 20px; }
.error,
.message {
    background: white;
	background-image: _linear-gradient(180deg, white 1%, #999 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#999999',GradientType=0 );
    _border-radius: 10px;
    _box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8);
    font-weight: bold;
    min-width: 300px;
    position: relative;
    width: 300px; }
    .error p,
    .message p { padding: 10px;; }
    .error .title,
    .message .title {
        font-size: 15px;
        font-weight: bold;
        margin: 10px;
        padding: 8px 0;
        text-shadow: -1px 1px 1px rgba(0, 0, 0, 0.8);
        text-transform: uppercase; }
    .error .title { background: red; color: yellow; }
    .message .title { background: #6e7b8b; color: white; }
.dark { background: #88c3b0; }
.light  { background: #dee3e7; }
.help {
    color: red;
    font-style: italic;
    font-size: 11px;
    margin: 0 10px 0 0;
    padding: 5px 0;
    text-align: right; }
.info { font-size: 10px; padding: 10px; }
.last-items { margin: 0 0 0 5px; }
.last-items li { margin: 0 0 10px 10px; }
.login-panel { margin: 10px 0; }
.none { display: none; }
#pagination {
    float: right;
    height: 20px;
    line-height: 20px;
    padding: 10px; }
    #pagination li { list-style: none; margin: 0; }
    #pagination a { margin-right: 2px; padding: 0 6px; }
    #pagination .pages { display: block; float: left; padding: 0 6px; }
    #pagination .next a,
    #pagination .previous a { font-weight: bold; }
    #pagination .active {
        background: #fff;
        color: red;
        float: left;
        font-weight: bold;
        padding: 0 6px; }
    #pagination a:link,
    #pagination a:visited { display: block; float: left; }
#pass_rating { margin: 0 28px 0 0; }
    .pass_title { margin: 0; padding: 5px 5px 0 100px; }
    .pass_img#progresbar-2-0, .pass_img#passbar-0, .pass_img#progresbar-2-10,
    .pass_img#passbar-10, .pass_img#progresbar-2-20, .pass_img#passbar-20,
    .pass_img#progresbar-2-30, .pass_img#passbar-30, .pass_img#progresbar-2-40,
    .pass_img#passbar-40, .pass_img#progresbar-2-50, .pass_img#passbar-50,
    .pass_img#progresbar-2-60, .pass_img#passbar-60, .pass_img#progresbar-2-70,
    .pass_img#passbar-70, .pass_img#progresbar-2-80, .pass_img#passbar-80,
    .pass_img#progresbar-2-90, .pass_img#passbar-90, .pass_img#progresbar-2-100,
    .pass_img#passbar-100                           { float: right; height: 7px; margin: 6px 60px 0 0 !important; width: 138px; }
    .pass_img#progresbar-2-0,.pass_img#passbar-0    { background: transparent url(../images/password/pass_0.gif) no-repeat; }
    .pass_img#progresbar-2-10, .pass_img#passbar-10 { background: transparent url(../images/password/pass_10.gif) no-repeat; }
    .pass_img#progresbar-2-20, .pass_img#passbar-20 { background: transparent url(../images/password/pass_20.gif) no-repeat; }
    .pass_img#progresbar-2-30, .pass_img#passbar-30 { background: transparent url(../images/password/pass_30.gif) no-repeat; }
    .pass_img#progresbar-2-40, .pass_img#passbar-40 { background: transparent url(../images/password/pass_40.gif) no-repeat; }
    .pass_img#progresbar-2-50, .pass_img#passbar-50 { background: transparent url(../images/password/pass_50.gif) no-repeat; }
    .pass_img#progresbar-2-60, .pass_img#passbar-60 { background: transparent url(../images/password/pass_60.gif) no-repeat; }
    .pass_img#progresbar-2-70, .pass_img#passbar-70 { background: transparent url(../images/password/pass_70.gif) no-repeat; }
    .pass_img#progresbar-2-80, .pass_img#passbar-80 { background: transparent url(../images/password/pass_80.gif) no-repeat; }
    .pass_img#progresbar-2-90, .pass_img#passbar-90 { background: transparent url(../images/password/pass_90.gif) no-repeat; }
    .pass_img#progresbar-2-100, .pass_img#passbar-100 { background: transparent url(../images/password/pass_100.gif) no-repeat; }
.poll { margin: 0 0 10px; }
.poll table { margin: 3px 0; }
.post { margin: 10px; padding: 10px; overflow: hidden; }
    .post .title {}
    .post .date {}
    .post .author { margin: 0 0 0 10px; line-height: 18px; width: 200px; }
    .post .admin { margin: 0 20px 0; float: right; line-height: 18px; }
    .post .admin a { margin: 0 2px; }
    .post .info { clear: both; margin: 10px 0 0; }
    .post .actions { float: right; margin: 0; }
.topic { margin: 10px; overflow: hidden; }
    .topic .content { overflow: hidden; }
    .topic .author { float: left; margin: 10px 0; width: 120px; }
    .topic .date { font-size: 10px; }
    .topic .info { line-height: 18px; padding: 0 10px 0 0; }
    .topic .profile { float: right; }
    .topic .info span.profile { padding: 5px; }
    .topic .info span.profile a { margin: 0 5px; }
    .topic .text { margin: 10px 10px 10px 130px; }
.gallery { margin: 0 auto; }
    .gallery img { margin: 5px 0 0 5px; }
    .gallery .item {
        _box-sizing: content-box;
        float: left;
        margin: 10px 12px;
        padding: 10px;
        overflow: hidden;
        width: 210px; }
    .gallery .info { padding: 0 0 0 15px; }
    .gallery .title { text-transform: none; }
.comment { overflow: hidden; }
    .comment img { float: left; }
    .comment .author { float: left; margin: 10px 0; width: 120px; }
    .comment .author .avatar img { margin: 0 25px 10px; }
    .comment .content { overflow: hidden; }
    .comment .date { color: #fff; font-size: 10px; }
    .comment .head { background: #215F62; padding: 0 5px; }
    .comment .info { line-height: 18px; }
    .comment .info .profile a { margin: 0 3px; }
    .comment .profile { float: right; }
    .comment .text { margin: 10px 10px 10px 130px; }
    .comment .text img { margin: 0 10px; }
    .comment_edit,
    .comment_post { margin: 30px 10px 0; overflow: hidden; }
.profile th,
.profile td { height: 25px; padding: 0 10px; vertical-align: middle; }
.random-image { margin: 5px 0; }
.rate { float: right; margin: 30px 10px 10px; }
    .rate button { border: none; }
    .rate button.minus,
    .rate button.plus { margin: 0 5px; }
#registration_content { margin: 15px auto; text-align: center; width: 635px; }
#registration_form { overflow: hidden; }
.required { background: #fff888; color: red; }
.simple-menu { background: #297377; padding: 10px; }
    .simple-menu li {
        border-left: 1px solid #000;
        margin-left: 8px;
        padding-left: 12px;
        display: inline; }
    .simple-menu li:last-child { border-right: 1px solid #000; margin-right: 8px; padding-right: 12px; }
    .simple-menu a { color: #fff; }
.section { margin: 20px; }
    .section a { display: block; margin: 0; }
    .section a.level1 { text-align: left; }
    .section a.level1 span.title,
    .section a.level2 span.title {
        font-weight: bold;
        font-size: 10pt;
        line-height: 20px;
        margin: 0;
        padding: 0 5px;
        text-align: left; }
    .section a.level1 span.subtitle,
    .section a.level2 span.subtitle { font-weight: normal; line-height: 16px; padding: 0 5px; }
    .section span { display: block; text-align: left; }
    .section span.bg { font-size: 1.4em; font-weight: bold; text-align: center; }
    .section span.level1 { text-align: left; }
    .section li a.level1:hover { background: #e8e8ea; color: red; }
    .section span.level1 span.title {
        font-weight: bold;
        font-size: 10pt;
        line-height: 20px;
        padding: 0 5px;
        text-align: left; }
    .section span.level1 span.subtitle { font-weight: normal; line-height: 16px; padding: 0 5px; }
    .section ul { padding: 0; }
    .section ul.level2,
    .section ul.level3 { padding: 0 0 10px 40px; text-align: left; }
    .section ul.level2 img,
    .section ul.level3 img { float: left; margin: 0 20px 0 0; }
    .section li.level3 a.level3:hover span.title,
    .section li.level3 a.level3:hover span.subtitle,
    .section ul.level3 a.level3:hover span.title,
    .section ul.level3 a.level3:hover span.subtitle { background: #e8e8ea; color: red; }
    .section li { margin: 0; padding: 0; position: relative; }
    .section li a.level2:hover,
    .section li a.level3:hover { background: #e8e8ea; }
    .section li a.level1:hover span.title,
    .section li a.level2:hover span.subtitle,
    .section li a.level3:hover span.title    { color: blue; }
    .section li a.level3:hover span.subtitle { color: red; }
    .section li.level1 .title { margin: 15px 0 0; }
    .section li.level2 a.level2 { padding: 0 5px; }
    .section li.level2 a.level2:hover,
    .section li.level3 a.level3:hover { background: #e8e8ea; color: blue; }
    .section li.level2 .title,
    .section li.level3 a.level3,
    .section li.level3 a.level3 span.title { margin: 20px 0 0; }
.special { color: red; }
.star,
    .star ul.star,
    .star div.rates,
    .star div.user,
    .star div.voted,
    .star div.sep { float: right; }
    .star { height: 20px; margin: 0 10px 0 0; }
    .star ul.star {
        background: url(../images/icons/stars.png) repeat-x;
        cursor: pointer;
        height: 22px;
        margin: 0 50px 0 0;
        padding: 0;
        width: 85px; }
    .star li {
        display: block;
        float: right;
        height: 20px;
        margin: 0;
        padding: 0;
        position: absolute;
        text-decoration: none;
        text-indent: -9000px;
        width: 85px;
        z-index: 1; }
    .star li.curr { background: url(../images/icons/stars.png) left 25px; font-size: 1px; }
    .star div.rates { margin: -16px 0 0 5px; }
    .star div.sep { margin: 0 3px; }
    .star-rate { margin: -20px 0 10px; padding: 0 0 20px; }
.step {	float: left; }
#steps { overflow: hidden; }
    #steps form { padding: 0; }
    #steps form fieldset { border: none; padding: 0; }
    #steps form legend {
        background: #297377;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0;
        width: 635px; }
    #steps form p {
        clear: both;
        float: left;
        margin: 0 0 10px 120px;
        padding: 3px 0;
        width: 420px; }
    #steps form p label {
        color: #000;
        float: left;
        font-weight: bold;
        line-height: 20px;
        text-align: right;
        width: 150px; }
    #steps form p.msg {
        background: none;
        border: 0;
        _border-radius: none;
        _box-shadow: none; }
    #steps form p.submit { background: none; border: none; _box-shadow: none; }
    #steps form input:not ([type=radio]),
    #steps form textarea,
    #steps form select {
        border: 1px solid #ddd;
        _border-radius: 3px;
        outline: 0;
        padding: 5px;
        width: 200px; }
    #steps form input:focus { background: #fff; border: 1px solid red; }
.tab_content { margin: 20px 0 0;; }
    .tab_content img { float: left; margin: 0 10px; }
    .tab_content .author { width: 30%; }
    .tab_content .date { float: right; font-style: italic; margin: 6px 50px 0 0; }
    .tab_content .info { clear: both; }
    .tab_content .more { float: right; margin: 0 2px; }
    .tab_content .section { margin: 0 0 0 50px; }
    .tab_content .section a { display: inline; }
table#std { margin: 0 0 10px; }
    table#std tr { height: 25px; }
    table#std td  { border: 2px groove #fff; padding: 0 10px; }
    table#std th {
        background: #297377;
        border: 2px groove #fff;
        color: #fff;
        text-align: center;
        text-shadow: 0 1px 2px #000;
        filter: Shadow(Color=#000000, Direction=120, Strength=2); }
    table.std  { border: 2px groove #fff; padding: 10px; }
    th.icon, td.icon  { width: 47px; }
    th.title, td.title { width: 250px; }
    th.access, td.access,
    th.actions, td.actions { width: 70px; }
    th.author, td.author,
    th.views, td.views { width: 80px; }
    th.comments, td.comments { width: 120px; }
    th.date, td.date { padding: 0 10px; width: 140px; }
.text img { float: left; }
:-moz-placeholder { color: #7e7e7e; }
::-webkit-input-placeholder { color: #7e7e7e; }
#flipbox { color: black; padding: 5px; min-height: 50px; }
#banner { padding: 10px 0; }
    #banner ul { padding: 0; }
    #banner li { padding: 10px 0; margin: 0; }
    #banner a  { color: white}
.horinaja img { margin: 0; padding: 0; }
    .horinaja ul  { font-size: 12px; position: relative; }
    .horinaja ul li { background: transparent; display: block; top: 0; }
    ol.horinaja_pagination {
        background: transparent;
        clear: both;
        height: 40px;
        margin: 0 auto;
        padding: 5px 0 0 0;
        position: relative; }
    ol.horinaja_pagination li { display: block; float: left; height: 40px; }
    ol.horinaja_pagination li a {
        background: transparent;
        color: white;
        cursor: pointer;
        height: 30px;
        display: block;
        float: left;
        font-weight: bold;
        text-align: center;
        padding: 10px 0 0 0; }
#unitip {
    color: #fff;
    display: none;
    font: normal normal 10px/12px Verdana, Arial, Helvetica, sans-serif;
	position: absolute;
    text-align: center;
	top: -1000px;
	z-index: 1000; }
	#unitippoint, #unitipmid, #unitipcap {
        display: block;
        left: 0px;
		position: relative;
		top: 0px;
		width: 145px; }
	#unitippoint { background: url(../../../tools/unitip/TipPoint.png) no-repeat; height: 19px; overflow: hidden; }
	#unitipmid {
		background: url(../../../tools/unitip/TipMid.png) repeat;
		height: auto;
		padding: 5px 15px;
        width: 115px; }
	#unitipcap { background: url(../../../tools/unitip/TipCap.png) no-repeat; height: 7px; overflow: hidden	}

.icons { width: 16px; height: 16px; background-image: url(../images/icons/glyphicons-halflings.png); }
.icon-plus { background-position: -287px 0; }
.icon-minus { background-position: -311px 0; }
